@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: hwb(48 65% 23%);
}

.icons{
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    right: 30px;
    bottom: 280px;
    font-size: 2.8125rem;
}

.fa-brands.fa-github{
    color: black;
}

a:hover .fa-brands.fa-github{
    color: rgba(99, 97, 97, 0.507);
}

.fa-brands.fa-linkedin-in{
    color: black;
}

a:hover .fa-brands.fa-linkedin-in{
    color: rgba(99, 97, 97, 0.507);
}

.fa-brands.fa-instagram{
    color: black;
}

a:hover .fa-brands.fa-instagram{
    color: rgba(99, 97, 97, 0.507);
}


#header-welcome{
    position: relative;
    top: 10px;
    max-width: fit-content;
    margin-right: auto;
    bottom: 80px;
    font-size: 29px;
}

#intro-titles{
    font-size: 20px;
    width: 700px;
    height: 120px;
    padding: 10px;
    background: rgba(158, 156, 156, 0.582);
    border-radius: 20px;
}

#education{
    width: 160px;
    height: 80px;
    padding: 10px;
    border: 0.2rem outset black;
    background: hsl(54, 39%, 70%);
    border-radius: 20px;
}

#higher-education{
    width: 520px;
    height: 90px;
    padding: 10px;
    background: rgba(158, 156, 156, 0.582);
    border-radius: 20px;
}

#about-me{
    font-size: 20px;
    width: 1850px;
    height: 300px;
    padding: 10px;
    border: 0.2rem outset black;
    background: rgba(158, 156, 156, 0.582);
    border-radius: 20px;
}


