@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: hwb(48 65% 23%);
}

.icons{
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    right: 30px;
    bottom: 280px;
    font-size: 2.8125rem;
    color: black;
}

#header-welcome{
    position: sticky;
    max-width: fit-content;
    margin-right: auto;
    bottom: 80px;
    font-size: 29px;
}

#intro-titles{
    font-size: 20px;
    width: 700px;
    height: 120px;
    padding: 10px;
    background: rgba(116, 115, 115, 0.582);
}

#education{
    width: 160px;
    height: 80px;
    padding: 10px;
    border: 0.2rem outset black;
    background: hsl(54, 39%, 70%);
}

#higher-education{
    width: 520px;
    height: 80px;
    padding: 10px;
    background: rgba(116, 115, 115, 0.582);
}


